
/* ================== SE REPITEN ================== */

/* estilo del texto */
body{
	font-family: Arial,Helvetica,Sans,Sans-Serif,Sans Serif;
	margin: 0;
}

h3{
  color:white;
}

p{
	text-align: center;
}

h1{
	text-align: center;
}

/* encabezamiento */
header{
	background-color: #00BCD4;
	text-align: center;
}

header a {
	padding-right: px;
	display: inline-block ;
	text-decoration: none;
	padding: 10px;
	font-size: 30px;
	font-family: 'Sofia';
	color: white;
	z-index: 1;
}

#link{
	width: 300px;
	margin-left: auto;
	margin-top: -64px;
	padding-bottom: 10px;
}

li {
	display: inline;
}

li a{
	font-size: 15px;
	font-family: Arial,Helvetica,Sans,Sans-Serif,Sans Serif;
}

/* buscador en el encabezamiento */
.buscador-r input{
	width: 300px;
	display: block;
	margin: auto;
}

.buscador-r button{
	display: block;
	margin: auto;
}

/* pie de pagina */
#pie{
	background-color: #37454d;
	padding: 5% 0 15%;
}

#izquierda{
	float: left;
  width: 50%;
	text-align:center;
  margin: 0 5%;
	color: white;
 }

#derecha{
	float: left;
  margin: 0 5%;
	width: 30%;
	text-align: center;
}

#derecha img{
	width: 7%;
}

/* ---------------------------- resolución de pantalla: telefono inteligente*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* encabezamiento */
	header a{
		font-size: 90px;
	}

	li a{
		font-size: 30px;
	}

	#link{
		padding-bottom: 10px;
		width: 370px;
		margin: auto;
	}

	#link ul{
		padding-left: 0px;
	}

	/* pie de pagina */

	#pie{
		font-size: -webkit-xxx-large;
	}

	#izquierda{
		margin: 5% 5% 10%;
		text-align: center;
		float: none;
		width: 90%
	}

	#derecha{
		margin: 5%;
		text-align: center;
		color: white;
		float: none;
		width: 90%
	}

	#derecha img{
		width: 15%;
	}
}


/* ================== INDEX CSS ================== */

.contenedor-index{
	color: white;
	background-color:rgba(25, 202, 250, 0.70);
	margin: 3%;
	padding: 2% 2% 8%;
	text-align: center;
}

/* lema de la empresa */
#lema {
	font-family: Arial,Helvetica,Sans,Sans-Serif,Sans Serif;
	font-size: 3em;
	margin: 0 5%;
}

/* barra de busqueda */
.buscador-index input{
	margin-left: 0;
	width: 50%;
	padding:25px 6%;
	font-size: 2em;
	border: 0;
}

/* boton de buscar */
.buscador-index button{
	padding: 2%;
	border: 0;
	font-size: 2em;
}

/* ---------------------------- resolución de pantalla: telefono inteligente*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.contenedor-index{
		margin: 20% 5% 51%;
	}

	/* boton de buscar */
	.buscador-index button{
		padding: 3%;
	}
}


/* ================== REGISTRO CSS ================== */

.contenedor-registro{
  background-color: rgba(25, 202, 250, 0.70);
	padding: 2%;
	margin: 5%;
}

.contenedor-registro form{
	margin: 0 36%;
}

.contenedor-registro input{
	cursor: pointer;
	margin: 0 0 7%;
	padding: 2%;
}

.contenedor-registro h3{
	text-align: center;
}

.contenedor-registro label{
	color: white;
}

/* boton formulario */
.boton-registro{
    text-align: center;
}

.boton-registro h2{
	margin: 3% 0 1%;
}

/* ---------------------------- resolución de pantalla: telefono inteligente*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.contenedor-registro{
		margin: 10% 5% 5%;
	}

	.contenedor-registro form{
		margin: 0 10%;
	}

	.contenedor-registro h3{
		font-size: 3em;
	}

	.contenedor-registro label{
		font-size: 3em;
	}

	.contenedor-registro input{
		cursor: pointer;
		margin: 0 0 7%;
		padding: 2% 10%;
		width: 100%;
		font-size: 3em;
	}

	.contenedor-registro button{
		font-size: 2em;
	}
}

/* ================== INICIO CSS ================== */

.cuerpo-inicio{
	padding-bottom: 1%;
}

.contenedor-inicio{
  background-color: rgba(25, 202, 250, 0.70);
	padding: 2%;
	margin: 7% 5%;
}

.contenedor-inicio form{
	margin: 0 36%;
}

.contenedor-inicio input{
	cursor: pointer;
	margin: 0 0 7%;
	padding: 2%;
}

.contenedor-inicio h3{
	text-align: center;
}

.contenedor-inicio label{
	color: white;
}

/* boton formulario */
.boton-inicio{
    text-align: center;
}

.boton-inicio h2{
	margin: 3% 0 1%;
}

/* ---------------------------- resolución de pantalla: telefono inteligente*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.cuerpo-inicio{
		padding-bottom: 20%;
	}

	.contenedor-inicio{
		margin: 17% 5%;
	}

	.contenedor-inicio form{
		margin: 0 10%;
	}

	.contenedor-inicio h3{
		font-size: 3em;
	}

	.contenedor-inicio label{
		font-size: 3em;
	}

	.contenedor-inicio input{
		cursor: pointer;
		margin: 0 0 7%;
		padding: 2% 10%;
		width: 100%;
		font-size: 3em;
	}

	.contenedor-inicio button{
		font-size: 2em;
	}
}


/* ================== RESULTADOS CSS ================== */

/* BUSCADOR */
/* estilo del buscador */
.buscador-resultados{
	background-color: #37454d;
	padding: 2%;
}

/* estilo de la barra de busqueda */
.buscador-r {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 490px;
}

/* estilo de las opciones del buscador */
.buscador-r-opciones {
    margin-top: 10px;
    text-align: center;
}

/* FILTRO */
/*  contenedor de filtro */
#filtro{
    background-color: #81F7F3;
    float: left;
    width: 19%;
    margin: 5% 3%;
    text-align: center;
}

/* estrellas de tenedores */
#form {
  margin: 0 auto;
}

#form p {
  text-align: center;
}

#form label {
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

/* botones de puntuacion y precio */
#filtro .option{
    margin-bottom: 20px;
}
/*botones de lo mas buscado */
#filtro > checkbox{
    margin-bottom: 20px;
}

/* RESTAURANTES */
/* contenedor de restaurantes */
#restaurantes-contenedor{
    float:left;
    margin: 5% 0;
		width: 50%;
}

/*imagenes de los restaurantes*/
#restaurantes-contenedor img{
	margin: 3%;
	border: solid white;
}

/* restaurante 1 */
#rest1 {
    margin-bottom: 5%;
    background-color:#81F7F3;
}

/* restaurante 2 */
#rest2{
    margin-top:20px;
    background-color:#81F7F3;
}

/* restaurante 3 */
#rest3{
    margin-top:20px;
    background-color:#81F7F3;
}

/* informacion de los restaurantes */
#rest-info{
		float: right;
		margin: 8% 10%;
		width: 200px;
		text-align: left;
}

/*publicidad*/
#publicidad{
    float: right;
    width: 19%;
    margin: 5% 3%;
}

/* -------------------------------------- tabletas*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	#publicidad{
	    margin: 5% 42%;
			float: left;
	}

	#filtro{
	    background-color: #81F7F3;
	    float: left;
	    width: 25%;
	    margin: 5% 3%;
	    text-align: center;
	}

	#restaurantes-contenedor{
	    float:left;
	    margin: 5% 3% 5% 0;
			width: 66%;
	}
}

/* ---------------------------- resolución de pantalla: telefono inteligente*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#filtro{
	    background-color: #81F7F3;
	    float: left;
	    width: 90%;
	    margin: 5% 5%;
	    text-align: center;
	}

	#filtro p{
		display: inline;
	}

	#restaurantes-contenedor{
		margin: 5%;
		width: 90%;
	}

	#rest1{
		padding: 5% 0 5%;
	}

	#rest2{
		padding: 5% 0 5%;
	}

	#rest3{
		padding: 5% 0 5%;
	}

	#rest-info{
		margin: auto;
		width: 200px;
		float: none;
	}

	#restaurantes-contenedor img{
		display: block;
		margin: auto;
		border: solid white;
	}

	#publicidad{
		float: none;
		width: 35%;
		margin: 5% 33%;
	}

	.buscador-r {
		width: 100%;
	}

	/* barra de busqueda */
	.buscador-resultados input{
		width: 40%;
		padding:3% 21%;
		font-size: 2em;
		float: left;
		border: 0;
	}

	/* boton de buscar */
	.buscador-resultados button{
		padding: 3%;
		border: 0;
		font-size: 2em;
		margin: 0;
	}
}

/* ================== DETALLES CSS ================== */

/* CONTENEDOR */

h2 {
	margin: 100px 140px 30px;
}
h1{
text-align:10px ;
}
/*
#derecha{
	width: 40%;
	float: right;
}

#derecha button{
    margin: 5px;
    margin-left: 70px;
    width: 60px;
    text-align: center;
}

#izquierda{
    width: 60%;*/


}

.izq-contenedor{
	width: 400px;
	margin: 8% auto;
	display: block;
}

#mapa {
    background-image: url("http://gadgerss.com/wp-content/uploads/2014/06/cobertura-ftth-voy.png");
    min-height: 150px;
    width: 80%;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    background-repeat: no-repeat;
    margin: auto;
}

#direccion{
	float:left;
	margin-left:140px ;
	font-size: 13px;
	clear: both;

}

#restaurante-descripcion p{
	margin-left: 140px;
	margin-right: 140px;
	text-align: justify;
}

#servicios{
    margin: auto;
}

#servicios-detalles {
	margin-left: 140px;
	margin-right: 140px;
}

#servicios-detalles img {
	margin-left: 150px;
}

#tabIzq{
    float: left;
    width: 50%;
}

#tabDer{
    margin-left:50%;
}
