
/* ================== SE REPITEN ================== */

/* estilo del texto */
body{
	font-family: Arial,Helvetica,Sans,Sans-Serif,Sans Serif;
	margin: 0;
}

h3 {
  color: white;
  text-align: center;
}

/* encabezamiento */
header{
	background-color: #00BCD4;
	text-align: center;
}

header a {
	padding-right: px;
	display: inline-block ;
	text-decoration: none;
	padding: 10px;
	font-size: 30px;
	font-family: 'Sofia';
	color: white;
	z-index: 1;
}

#link{
	width: 300px;
	margin-left: auto;
	margin-top: -64px;
	padding-bottom: 10px;
}

li {
	display: inline;
}

li a{
	font-size: 15px;
	font-family: Arial,Helvetica,Sans,Sans-Serif,Sans Serif;
}

/* encabezamiento fijo */
.contenedor-buscador-fijo{
	background-color: #37454d;
	padding: 2% 25%;
	padding-top: 0px;
	top: 0px;
	margin-top: -458px;
}

/* estilo del buscador resultados */
.buscador-fijo {
    text-align: center;
    margin-top: 450px;
    padding: 5% 0 0;
}

.buscador-fijo input{
	width: 50%;
	font-size: 1em;
	padding: 2% 5%;
	border: 0;
}

.buscador-fijo button{
	padding: 2%;
	border: 0;
	font-size: 1em;
}

.header-fijo{
	position: fixed;
	top: 0;
	width: 100%;
	height: 17%;
}

/* buscador en el encabezamiento */
.buscador-r input{
	width: 300px;
	display: block;
	margin: auto;
}

.buscador-r button{
	display: block;
	margin: auto;
}

/* pie de pagina */
#pie{
	background-color: #37454d;
	padding: 5% 0 15%;
	clear: both;
}

#izquierda{
	float: left;
  	width: 50%;
	text-align:center;
  	margin: 0 5%;
	color: white;
 }

#derecha{
	float: left;
  	margin: 0 5%;
	width: 30%;
	text-align: center;
}

#derecha img{
	width: 7%;
}

/* ---------------------------- resolución de pantalla: telefono inteligente*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* encabezamiento */
	header a{
		font-size: 90px;
	}

	li a{
		font-size: 30px;
	}

	#link{
		padding-bottom: 10px;
		width: 370px;
		margin: auto;
	}

	#link ul{
		padding-left: 0px;
	}

	/* buscador fijo*/
	.contenedor-buscador-fijo{
		padding: 2% 10%;
		padding-top: 0px;
		top: 0px;
		margin-top: -458px;
	}

	.buscador-fijo{
		padding: 5% 0;
	}

	.buscador-fijo input{
		width: 50%;
		padding: 3% 8%;
		font-size: 2em;
		border: 0;
	}

	.buscador-fijo button{
		padding: 3%;
		border: 0;
		font-size: 2em;
		margin: 0;
	}

	.header-fijo{
		height: 24%
	}

	/* pie de pagina */
	#pie{
		font-size: -webkit-xxx-large;
		clear: both;
	}

	#izquierda{
		margin: 5% 5% 10%;
		text-align: center;
		float: none;
		width: 90%
	}

	#derecha{
		margin: 5%;
		text-align: center;
		color: white;
		float: none;
		width: 90%
	}

	#derecha img{
		width: 15%;
	}
}


/* ================== INDEX CSS ================== */

.contenedor-index{
	color: white;
	background-color:rgba(25, 202, 250, 0.70);
	margin: 3%;
	padding: 2% 2% 8%;
	text-align: center;
}

/* lema de la empresa */
#lema {
	font-family: Arial,Helvetica,Sans,Sans-Serif,Sans Serif;
	font-size: 3em;
	margin: 0 5%;
}

/* barra de busqueda index*/
.buscador-index input{
	margin-left: 0;
	width: 50%;
	padding:25px 6%;
	font-size: 2em;
	border: 0;
}

/* boton de buscar */
.buscador-index button{
	padding: 2%;
	border: 0;
	font-size: 2em;
}

/* ---------------------------- resolución de pantalla: telefono inteligente*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.contenedor-index{
		margin: 20% 5% 51%;
	}

	/* boton de buscar */
	.buscador-index button{
		padding: 3%;
	}
}


/* ================== REGISTRO CSS ================== */

.contenedor-registro{
  background-color: rgba(25, 202, 250, 0.70);
	padding: 2%;
	margin: 5%;
}

.contenedor-registro form{
	margin: 0 36%;
}

.contenedor-registro input{
	cursor: pointer;
	margin: 0 0 7%;
	padding: 2%;
}

.contenedor-registro h3{
	text-align: center;
}

.contenedor-registro label{
	color: white;
}

/* boton formulario */
.boton-registro{
    text-align: center;
}

/*estilo de texto del boton*/
.boton-registro h2{
	margin: 3% 0 1%;
}

/* ---------------------------- resolución de pantalla: telefono inteligente*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.contenedor-registro{
		margin: 10% 5% 5%;
	}

	.contenedor-registro form{
		margin: 0 10%;
	}

	.contenedor-registro h3{
		font-size: 3em;
	}

	.contenedor-registro label{
		font-size: 3em;
	}

	.contenedor-registro input{
		cursor: pointer;
		margin: 0 0 7%;
		padding: 2% 10%;
		width: 100%;
		font-size: 3em;
	}

	.contenedor-registro button{
		font-size: 2em;
	}
}


/* ================== INICIO CSS ================== */

.cuerpo-inicio{
	padding-bottom: 1%;
}

.contenedor-inicio{
  background-color: rgba(25, 202, 250, 0.70);
	padding: 2%;
	margin: 7% 5%;
}

.contenedor-inicio form{
	margin: 0 36%;
}

.contenedor-inicio input{
	cursor: pointer;
	margin: 0 0 7%;
	padding: 2%;
}

.contenedor-inicio h3{
	text-align: center;
}

.contenedor-inicio label{
	color: white;
}

/* boton formulario */
.boton-inicio{
    text-align: center;
}

.boton-inicio h2{
	margin: 3% 0 1%;
}

/* ---------------------------- resolución de pantalla: telefono inteligente*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.cuerpo-inicio{
		padding-bottom: 20%;
	}

	.contenedor-inicio{
		margin: 17% 5%;
	}

	.contenedor-inicio form{
		margin: 0 10%;
	}

	.contenedor-inicio h3{
		font-size: 3em;
	}

	.contenedor-inicio label{
		font-size: 3em;
	}

	.contenedor-inicio input{
		cursor: pointer;
		margin: 0 0 7%;
		padding: 2% 10%;
		width: 100%;
		font-size: 3em;
	}

	.contenedor-inicio button{
		font-size: 2em;
	}
}


/* ================== RESULTADOS CSS ================== */

.contenedor-resultados{
	margin-top: 170px;
}

/*  contenedor de filtro */
#filtro{
    background-color: #81F7F3;
    float: left;
    width: 19%;
    margin: 5% 3%;
    text-align: center;
}

#filtro p{
	margin-top: 15%;
}

#filtro form{
	margin-top: -8%;
}

/* estrellas de tenedores */
#form {
  margin: 0 auto;
}

#form p {
  text-align: center;
}

#form label {
}

/* estilo de las estrellas */
input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

/* botones de puntuacion y precio */
#filtro .option{
    margin-bottom: 20px;
}
/*botones de lo mas buscado */
#filtro > checkbox{
    margin-bottom: 20px;
}

#contenedor-restaurantes{
    float:left;
    margin: 5% 0;
	width: 50%;
}

#contenedor-restaurantes img{
	margin: 3%;
	border: solid white;
}

#rest1{
    margin: 0 5%;
    background-color:#81F7F3;
}

#rest2, #rest3{
    margin: 5%;
    background-color:#81F7F3;
}

#rest-info{
		float: right;
		margin: 8% 15% 8% 0;
		width: 200px;
		text-align: left;
}

/*publicidad*/
#publicidad{
    float: right;
    width: 19%;
    margin: 5% 3%;
}

/* ---------------------------- resolución de pantalla: telefono inteligente*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/*contenedor de filtro*/
	#filtro{
	    width: 90%;
	    margin: 5% 5%;
	    font-size: -webkit-xxx-large;
	    padding-bottom: 5%;
	}

	#filtro form{
		margin-top: 0;
	}

	#filtro select{
		font-size: 1em;
	}

	#filtro p{
		margin-top: 5%;
	}

	input[type=checkbox]{
    	height:40px;
	}

	#contenedor-restaurantes{
		margin: 5%;
		width: 90%;
	}

	#rest1, #rest2, #rest3{
		padding: 5% 0 5%;
		margin-left: 0;
		margin-right: 0;
	}

	#rest-info{
		margin: auto;
		width: 70%;
		float: none;
		font-size: -webkit-xxx-large;
		text-align: center;
	}

	#contenedor-restaurantes img{
		display: block;
		margin: auto;
		border: solid white;
		width: 70%;
	}

	#publicidad{
		float: none;
		width: 35%;
		margin: 5% 33%;
	}

	.contenedor-resultados{
		margin-top: 445px;
	}
}

/* ================== DETALLES CSS ================== */

#ci-detalles{
	margin-top: 215px;
}

#detalles-resumen h1{
	color: greenyellow;
}

#detalles-resumen img{
	width: 30%;
	margin-top: 2%;
}

#detalles-ubicacion h2{
	margin-top: 5%;
	color: greenyellow;
}

#mapa {
    background-image: url("http://gadgerss.com/wp-content/uploads/2014/06/cobertura-ftth-voy.png");
    min-height: 150px;
    width: 70%;
    border-radius: 8px;
    margin: 2% auto;
}

#detalles-descripcion h2{
	margin-top: 5%;
	color: greenyellow;
}

#detalles-descripcion p{
	margin: 2% auto;
	width: 60%;
}

#detalles-servicios h2{
	margin-top: 5%;
	color: greenyellow;
}

#detalles-servicios hr{
	margin-bottom: 2%;
}

#detalles-servicios table{
	margin-top: 2%;
	margin: auto;
}

#detalles-platos h2{
	margin-top: 5%;
	color: greenyellow;
}

#tabIzq{
    float: left;
    width: 50%;
}

#tabDer{
    margin-left:50%;
}

/* ---------------------------- resolución de pantalla: telefono inteligente*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#ci-detalles{
		margin-top: 490px;
		font-size: -webkit-xxx-large;
	}

	#detalles-resumen hr{
		margin-bottom: 5%;
	}

	#detalles-resumen img{
		width: 90%;
	}

	#detalles-ubicacion h2{
		margin: 15% 0 0 ;
	}

	#detalles-ubicacion hr{
		margin-bottom: 5%;
	}

	#detalles-ubicacion p{
		width: 70%;
		margin: auto; 
	}

	#detalles-descripcion h2{
		margin: 15% 0 0;
	}

	#detalles-descripcion hr{
		margin-bottom: 5%;
	}

	#detalles-descripcion p{
		font-size: -webkit-xxx-large;
		width: 75%;
		text-align: justify;
	}

	#detalles-servicios h2{
		margin: 15% 0 0;
	}

	#detalles-servicios hr{
		margin-bottom: 5%;
	}

	#detalles-servicios td{
		font-size: xx-large;
	}

	#detalles-platos h2{
		margin: 15% 0 0;
	}

	#detalles-platos td{
		margin-top: 15%
	}

	#detalles-platos hr{
		margin-bottom: 5%
	}

	#detalles-platos section{
		width: 100%;
		font-size: 36px;
	}
