
/* ================== SE REPITEN ================== */

body{
	font-family: Arial,Helvetica,Sans,Sans-Serif,Sans Serif;
	margin: 0;
}

/* titulo del menu*/
header a {
	padding-right: px;
	display: inline-block ;
	text-decoration: none;
	padding: 10px;
	font-size: 30px;
	font-family: 'Sofia';
	color: white;
	z-index: 1;
}

/* contenedor de los links del menu */
.link{
	width: 300px;
	margin-left: auto;
	margin-top: -64px;
	padding-bottom: 10px;
}

/* mostrando links en linea */
li {
	display: inline;
}

/* estilo de fuente de los links */
li a{
	font-size: 15px;
	font-family: Arial,Helvetica,Sans,Sans-Serif,Sans Serif;
}

input{
 	padding: 10 0  10 0;
 	text-alig:center;
 	margin-top:10px;
 	padding: 12px;
 	border-radius: 15px;
}

.pie{
	background-color: #C0C0C0;
	clear:both;
	padding-bottom:50px;
	padding-top:10px;
}
.izquierda{
     float: left;
     width: 50%;
	 text-align:center;
	 
 }
.derecha{
      margin-left: 50%;
	   width: 50%;
	   text-align:center;
  }


/* ================== INDEX CSS ================== */

/* MENU */
/* color de fondo del menu*/
header{
	background-color: #00BCD4;
	text-align: center;
}

/* LEMA Y BUSCADOR */
/* contenedor */
.contenedor-index{
	color: white;
	background-color:rgba(25, 202, 250, 0.70);
	margin: 5% 20%;
	padding: 2%;
	text-align: center;
}

/* lema de la empresa */
.lema-index {
	font-family: Arial,Helvetica,Sans,Sans-Serif,Sans Serif;;
	font-size: 2em;
}

/* barra de busqueda y boton */
.buscador-index {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 500px;
}

/* barra de busqueda */
input {
	margin-left: 13%;
	width: 300px;
	padding:10px;
}



/* ================== REGISTRO CSS ================== */

/*estilo del contenedor*/
#contenedor-registro{
    background-color: #00BCD4;
    width:400px;
    margin: auto;
	padding-top:20px;
	padding-bottom:20px;
	margin-top: 5%;
}

/* FORMULARIO */
/* titulo formulario */
#contenedor-registro h3{
	text-align: center;
}

/* label formulario*/
#contenedor-registro label{
	margin-left: 15%; 
}

/* boton formulario */
.boton-registro{
    text-align: center;
}



/* ================== RESULTADOS CSS ================== */

/* BUSCADOR */
/* estilo del buscador */
#buscador-resultados{
	background-color: #37454d;
	padding: 2%;
}

/* estilo de la barra de busqueda */
.buscador-r {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 450px;
}

/* estilo de las opciones del buscador */
.buscador-opciones-r {
    margin-top: 10px;
    text-align: center;
}

/* FILTRO */
/*  contenedor de filtro */
#filtro{
    background-color:  #81F7F3;
    float:left;
    margin-top: 5%;
    width:200px;
    margin-left: 10%;
    text-align: center;
	margin-bottom:10px;
	min-height:660px;
}

/* estrellas de tenedores */

#form {
  margin: 0 auto;
}

#form p {
  text-align: center;
}

#form label {
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}





/* botones de puntuacion y precio */
#filtro .option{
    margin-bottom: 20px;
}
/*botones de lo mas buscado */
#filtro > checkbox{
    margin-bottom: 20px;
}

/* RESTAURANTES */
/* contenedor de restaurantes */
#restaurantes-contenedor{
    float:left;
    margin-left: 70px;
    margin-top: 45px;
}

/* restaurante 1 */
#rest1 {
    margin: 4% 0;
    background-color:#81F7F3;
    width:700px;
}

/* restaurante 2 */
#rest2{
    margin-top:20px;
    background-color:#81F7F3;
    width:700px;   
}

/* restaurante 3 */
#rest3{
    margin-top:20px;
    background-color:#81F7F3;
    width:700px;   
}

/* informacion de los restaurantes */
#rest-info{
    float:right;
    margin: 10px 120px;
    width: 200px;
    text-align: left;
	margin-top:10px;
}

/*====================PUBLICIDAD=====================*/
#publicidad{
    float:right;
    width:200px;
    margin-top:150px;
    min-height: 50px;
}

/* ================== DETALLES CSS ================== */

/* CONTENEDOR */

h2 {
	margin: 100px 140px 30px;
}
h1{
text-align:10px ;
}
/* */
#derecha{
	width: 40%;
	float: right;
}

#derecha button{
    margin: 5px;
    margin-left: 70px;
    width: 60px;
    text-align: center;
}

#izquierda{
    width: 60%;
	
    
}

.izq-contenedor{
	width: 400px;
	margin: 8% auto;
	display: block;
}

#mapa {
    background-image: url("http://gadgerss.com/wp-content/uploads/2014/06/cobertura-ftth-voy.png");
    min-height: 150px;
    width: 80%;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    background-repeat: no-repeat;
    margin: auto;
}

#direccion{
	float:left;
	margin-left:140px ;
	font-size: 13px;
	clear: both;
   
}

#restaurante-descripcion p{
	margin-left: 140px;
	margin-right: 140px;
	text-align: justify;
}

#servicios{
    margin: auto;
}

#servicios-detalles {
	margin-left: 140px;
	margin-right: 140px;
}

#servicios-detalles img {
	margin-left: 150px;
}

#tabIzq{
    float: left;
    width: 50%;  
}

#tabDer{
    margin-left:50%;
}  