body{
    
    
    width:820px;
	margin: auto;
}
h1{
    text-align: center;
    margin-top: 20px;
	
}
.b1 {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 240px;
}
.b2 {
    margin-top: 10px;
    text-align: center;
}
#filtro{
    background-color:  #B5F0F1;
    float:left;
    margin-top: 45px;
    width:200px;
    text-align: center;
}
#filtro > button{
    margin-top: 9px;
}
#filtro > radio{
    float: left;
    margin-top: 10px;
}
#restaurantes{
    float:left;
    margin-left: 80px;
    margin-top: 45px;

}
#rest1 {
    margin-top:0px;
    background-color: #6FDD3F;
    width:500px;
}
#info{
    float:right;
    margin-left: 49px;
    margin-top: 5px;
    width: 200px;
    text-align: left;
}
#rest2{
    margin-top:20px;
    background-color:#F7FE2E;
    width:500px;   
}
#rest3{
    margin-top:20px;
    background-color:#FA5858;
    width:500px;   
}
#contenedor{
	width:900px;
	margin:auto;
	background-image:url("../Imagenes/OGA1IU0_alt.jpg");
	height: 850px;
	padding-left: 20px;
	margin-right: 150px;
	
	
	
}
#buscador{

}
#placeres{
	background-color:#F7FE2E;
}
#cabecera{
	height= 90px;	
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}